In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/french-ambs.csv"

df = pd.read_csv(url)
df.head(10)

   id                      name    place  year    lat   long      lat_long
0   0        Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1        Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2        Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3        Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4        Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57
5   5        Bapaume, Robert de  England  1516  51.51  -0.12  51.51, -0.12
6   6  Passano, Jean-Joachim de  England  1527  51.51  -0.12  51.51, -0.12
7   7               De Monpreat  England  1532  51.51  -0.12  51.51, -0.12
8   8           Du Bellay, Jean  England  1530  51.51  -0.12  51.51, -0.12
9   9     Castelnau, Antoine de  England  1534  51.51  -0.12  51.51, -0.12

In [2]:
# File paths
# abosolute paths
# starts at the root of the computer
    # /users/<user-name>/otherfile/otherfile
    # c:file...
    # f:
# relative path
    #starts at the folder we are currently in
    # use . notation to determin location
    # go back one = ../
    # got back two folders = ../../foldername/file.csv
    # current folder = ./

In [ ]:
# write our df to the data folder.
# df.to_csv("./data/french-ambs.csv", index=False)

In [4]:
#read csv to df
df = pd.read_csv("./data/french-ambs.csv")
df.head()

   id                name    place  year    lat   long      lat_long
0   0  Richer, Christophe  Denmark  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Denmark  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Denmark  1561  55.68  12.57  55.68, 12.57
3   3  Danzay, Charles de  Denmark  1563  55.68  12.57  55.68, 12.57
4   4  Danzay, Charles de  Denmark  1582  55.68  12.57  55.68, 12.57

In [5]:
# iloc[] uses index number and column number

df.iloc[10]

id                      10
name        De Selve, Odet
place              England
year                  1547
lat                  51.51
long                 -0.12
lat_long      51.51, -0.12
Name: 10, dtype: object

In [7]:
df.iloc[100:110]

,id,name,place,year,lat,long,lat_long
100,100,"Bellièvre, Pomponne de",Swiss Cantons,1570,46.94,7.45,"46.94, 7.45"
101,101,"Bellièvre, Jean de, sr. de Hautefort",Swiss Cantons,1579,46.94,7.45,"46.94, 7.45"
102,102,"Vigier, Jean",Swiss Cantons,1581,46.94,7.45,"46.94, 7.45"
103,103,"De Pins, Jean",Venice,1517,45.44,12.33,"45.44, 12.33"
104,104,"De Pins, Jean",Venice,1518,45.44,12.33,"45.44, 12.33"
105,105,"Du Gabre, Dominique",Venice,1554,45.44,12.33,"45.44, 12.33"
106,106,"Carmain, Paul de",Venice,1569,45.44,12.33,"45.44, 12.33"
107,107,"Du Ferrier, Arnaud",Venice,1576,45.44,12.33,"45.44, 12.33"
108,108,"De Selve, Odet",Venice,1551,45.44,12.33,"45.44, 12.33"
109,109,"Hurault, André",Venice,1583,45.44,12.33,"45.44, 12.33"

In [15]:
df.iloc[0,2]

'Denmark'

In [9]:
# .at[] .iat[] get only cells
df.at[0, "place"]

'Denmark'

In [10]:
df.iat[0,2]

'Denmark'

In [24]:
# rename with an iteration:
# iterrows and intertuples
# iterrows
for idx, item in df.iterrows():
    print(item["place"])

Denmark
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Portugal
Rome
Portugal
Rome
Rome
Rome
Rome
Savoy
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Venice
Denmark
England
England
England
England
England
England
England
Grisons
England
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
Denmark
England
England
Denmark
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Savoy
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Ferrara
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Rome
Rome
Scotland
Scotland
Spain
Venice
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
Ferrara
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Spain
Spain
Scotland
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Ferrara
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Rome
Rome
Rome
Rome
Rome
Savoy
Saxony
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Tuscany
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Venice
Denmark
Denmark
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Savoy
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Swiss Cantons
Venice
Venice
Holy Roman Empire

In [32]:
# itertuples
for item in df.itertuples():
    print(item)

Pandas(Index=0, id=0, name='Richer, Christophe', place='Denmark', year=1543, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=1, id=1, name='Richer, Christophe', place='Denmark', year=1541, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=2, id=2, name='Danzay, Charles de', place='Denmark', year=1561, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=3, id=3, name='Danzay, Charles de', place='Denmark', year=1563, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=4, id=4, name='Danzay, Charles de', place='Denmark', year=1582, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=5, id=5, name='Bapaume, Robert de', place='England', year=1516, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=6, id=6, name='Passano, Jean-Joachim de', place='England', year=1527, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=7, id=7, name='De Monpreat', place='England', year=1532, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=8, id=8, name='Du Bellay, Jean', place='England', year=1530, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=9, id=9, name='Castelnau, Antoine de', place='England', year=1534, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=10, id=10, name='De Selve, Odet', place='England', year=1547, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=11, id=11, name='Castelneau, Michel de', place='England', year=1580, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=12, id=12, name='Castelneau, Michel de', place='England', year=1585, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=13, id=13, name='La Fin, Jean de', place='England', year=1592, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=14, id=14, name='La Mothe-Fénélon, Bertrand de Salignac de', place='England', year=1570, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=15, id=15, name='Boistaillé, Jean Hurault de', place='Geneva', year=1560, lat=46.21, long=6.14, lat_long='46.21, 6.14')
Pandas(Index=16, id=16, name='Castion, Jean-Jacques de', place='Grisons', year=1543, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=17, id=17, name='Monstiers, Jean de', place='Grisons', year=1553, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=18, id=18, name='Salazar, Louis de', place='Grisons', year=1554, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=19, id=19, name='Gredio, Christian', place='Grisons', year=1560, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=20, id=20, name='Crassier, Bernard de', place='Grisons', year=1566, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=21, id=21, name='Grangier, Jean', place='Grisons', year=1575, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=22, id=22, name='Florin, Jean', place='Grisons', year=1578, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=23, id=23, name='Bochetel, Bernardin', place='Holy Roman Empire', year=1567, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=24, id=24, name='Vulcob, Jean de, sr. de Sassy', place='Holy Roman Empire', year=1575, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=25, id=25, name='Vulcob, Jean de, sr. de Sassy', place='Holy Roman Empire', year=1571, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=26, id=26, name='Choary, Paul', place='Netherlands', year=1593, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=27, id=27, name="d'Aramon, Gabriel Leutz", place='Ottoman Empire', year=1548, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=28, id=28, name='La Triquerie, Pierre de', place='Ottoman Empire', year=1570, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=29, id=29, name='La Triquerie, Pierre de', place='Ottoman Empire', year=1572, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=30, id=30, name='Berthier, Sébastien', place='Ottoman Empire', year=1586, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=31, id=31, name='De Brèves, François Savary', place='Ottoman Empire', year=1594, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=32, id=32, name='De Caix, Honoré', place='Portugal', year=1534, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=33, id=33, name='De Caix, Honoré', place='Portugal', year=1556, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=34, id=34, name='Nicot, Jean', place='Portugal', year=1560, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=35, id=35, name='De Selve, Georges', place='Rome', year=1537, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=36, id=36, name='Langeac, Jean de', place='Rome', year=1539, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=37, id=37, name='De Selve, Jean-Paul', place='Rome', year=1557, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=38, id=38, name='Vivonne, Jean de', place='Rome', year=1585, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=39, id=39, name='Clutin, Henri', place='Scotland', year=1557, lat=55.95, long=-3.19, lat_long='55.95, -3.19')
Pandas(Index=40, id=40, name="d'Ebrard de Saint Sulpice, Jean", place='Spain', year=1565, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=41, id=41, name='Fourquevaux, Raymond de Beccarie de Pavie, Baron of', place='Spain', year=1569, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=42, id=42, name='Daugerant, Louis', place='Swiss Cantons', year=1525, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=43, id=43, name='Daugerant, Louis', place='Swiss Cantons', year=1522, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=44, id=44, name='Daugerant, Louis', place='Swiss Cantons', year=1527, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=45, id=45, name='Marveilleux, Jean', place='Swiss Cantons', year=1546, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=46, id=46, name='Du Plessis, Guillaume', place='Swiss Cantons', year=1550, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=47, id=47, name='Clausse, Henri', place='Swiss Cantons', year=1583, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=48, id=48, name='Crassier, Bernard de', place='Swiss Cantons', year=1586, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=49, id=49, name='De Baif, Lazare', place='Venice', year=1534, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=50, id=50, name='Pellicier, Guillaume', place='Venice', year=1539, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=51, id=51, name='Du Ferrier, Arnaud', place='Venice', year=1565, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=52, id=52, name='Du Ferrier, Arnaud', place='Venice', year=1564, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=53, id=53, name='Du Ferrier, Arnaud', place='Venice', year=1578, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=54, id=54, name='Richer, Christophe', place='Denmark', year=1542, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=55, id=55, name='Richer, Christophe', place='Denmark', year=1546, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=56, id=56, name='Danzay, Charles de', place='Denmark', year=1573, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=57, id=57, name='Danzay, Charles de', place='Denmark', year=1586, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=58, id=58, name='Noailles, François de, Bishop of Dax', place='England', year=1557, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=59, id=59, name='Carli, Grégoire', place='Grisons', year=1560, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=60, id=60, name='Grantrie, Pierre de', place='Grisons', year=1573, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=61, id=61, name='Florin, Jean', place='Grisons', year=1584, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=62, id=62, name='Grangier, Jean', place='Grisons', year=1587, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=63, id=63, name='Dodieu, Claude', place='Holy Roman Empire', year=1534, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=64, id=64, name='Mesnage, Jacques', place='Holy Roman Empire', year=1546, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=65, id=65, name='Mesnage, Jacques', place='Holy Roman Empire', year=1552, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=66, id=66, name='Calvimont, Jean de', place='Holy Roman Empire', year=1527, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=67, id=67, name='Bochetel, Bernardin', place='Holy Roman Empire', year=1561, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=68, id=68, name='Ancel, Guillaume', place='Holy Roman Empire', year=1594, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=69, id=69, name='Ancel, Guillaume', place='Holy Roman Empire', year=1599, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=70, id=70, name='Ancel, Guillaume', place='Holy Roman Empire', year=1585, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=71, id=71, name='Ancel, Guillaume', place='Holy Roman Empire', year=1592, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=72, id=72, name='Rougier, François, Baron of Ferrals', place='Netherlands', year=1568, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=73, id=73, name='Blatier, Claude', place='Netherlands', year=1582, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=74, id=74, name='Choary, Paul', place='Netherlands', year=1598, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=75, id=75, name='Choary, Paul', place='Netherlands', year=1600, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=76, id=76, name='Marillac, Charles de', place='Ottoman Empire', year=1539, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=77, id=77, name='Rincon, Antoine de', place='Ottoman Empire', year=1540, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=78, id=78, name="d'Aramon, Gabriel Leutz", place='Ottoman Empire', year=1552, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=79, id=79, name='Germigny, Jacques de', place='Ottoman Empire', year=1583, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=80, id=80, name='De Brèves, François Savary', place='Ottoman Empire', year=1597, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=81, id=81, name="Noailles, Gilles de, Abbot of L'Isle", place='Poland', year=1573, lat=52.23, long=21.02, lat_long='52.23, 21.02')
Pandas(Index=82, id=82, name='De Caix, Honoré', place='Portugal', year=1528, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=83, id=83, name='Pélisson, Raymond', place='Portugal', year=1539, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=84, id=84, name='Nicot, Jean', place='Portugal', year=1565, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=85, id=85, name='Nicot, Jean', place='Portugal', year=1574, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=86, id=86, name='Gramont, Gabriel de', place='Rome', year=1530, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=87, id=87, name='De Caix, Honoré', place='Portugal', year=1525, lat=38.72, long=-9.13, lat_long='38.72, -9.13')
Pandas(Index=88, id=88, name="Noailles, Gilles de, Abbot of L'Isle", place='Rome', year=1561, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=89, id=89, name='Tournon, Just de', place='Rome', year=1566, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=90, id=90, name='Foix, Paul de', place='Rome', year=1580, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=91, id=91, name='Chasteionier, Louis', place='Rome', year=1581, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=92, id=92, name='Des Barres, Louis', place='Savoy', year=1529, lat=45.06, long=7.68, lat_long='45.06, 7.68')
Pandas(Index=93, id=93, name="d'Esneval, Baron", place='Scotland', year=1585, lat=55.95, long=-3.19, lat_long='55.95, -3.19')
Pandas(Index=94, id=94, name='Vivonne, Jean de', place='Spain', year=1574, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=95, id=95, name='Vivonne, Jean de', place='Spain', year=1580, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=96, id=96, name='Daugerant, Louis', place='Swiss Cantons', year=1536, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=97, id=97, name='Morlet, Antoine', place='Swiss Cantons', year=1551, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=98, id=98, name='Bochetel, Bernardin', place='Swiss Cantons', year=1554, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=99, id=99, name='La Croix, Nicolas de', place='Swiss Cantons', year=1564, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=100, id=100, name='Bellièvre, Pomponne de', place='Swiss Cantons', year=1570, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=101, id=101, name='Bellièvre, Jean de, sr. de Hautefort', place='Swiss Cantons', year=1579, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=102, id=102, name='Vigier, Jean', place='Swiss Cantons', year=1581, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=103, id=103, name='De Pins, Jean', place='Venice', year=1517, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=104, id=104, name='De Pins, Jean', place='Venice', year=1518, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=105, id=105, name='Du Gabre, Dominique', place='Venice', year=1554, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=106, id=106, name='Carmain, Paul de', place='Venice', year=1569, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=107, id=107, name='Du Ferrier, Arnaud', place='Venice', year=1576, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=108, id=108, name='De Selve, Odet', place='Venice', year=1551, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=109, id=109, name='Hurault, André', place='Venice', year=1583, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=110, id=110, name='Hurault, André', place='Venice', year=1587, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=111, id=111, name='Hurault, André', place='Venice', year=1594, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=112, id=112, name='Séguier, Antoine', place='Venice', year=1599, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=113, id=113, name='De Selve, Jean-Paul', place='Rome', year=1556, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=114, id=114, name='Hurault, André', place='Venice', year=1591, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=115, id=115, name='Danzay, Charles de', place='Denmark', year=1565, lat=55.68, long=12.57, lat_long='55.68, 12.57')
Pandas(Index=116, id=116, name='Dinteville, Jean de', place='England', year=1536, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=117, id=117, name='Noailles, Antoine de', place='England', year=1555, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=118, id=118, name='Noailles, Antoine de', place='England', year=1556, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=119, id=119, name="Noailles, Gilles de, Abbot of L'Isle", place='England', year=1560, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=120, id=120, name='Bochetel, Jacques', place='England', year=1566, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=121, id=121, name='Bochetel, Jacques', place='England', year=1567, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=122, id=122, name='Castelneau, Michel de', place='England', year=1577, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=123, id=123, name='Grangis, Geoffroy de', place='Grisons', year=1529, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=124, id=124, name='Thumbry, Jean de', place='England', year=1599, lat=51.51, long=-0.12, lat_long='51.51, -0.12')
Pandas(Index=125, id=125, name='Carli, Grégoire', place='Grisons', year=1561, lat=46.66, long=9.63, lat_long='46.66, 9.63')
Pandas(Index=126, id=126, name='Gouffier de Bonnivet, Guillaume', place='Holy Roman Empire', year=1519, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=127, id=127, name='Calvimont, Jean de', place='Holy Roman Empire', year=1528, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=128, id=128, name='Marillac, Charles de', place='Holy Roman Empire', year=1548, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=129, id=129, name='Castelnau, Antoine de', place='Holy Roman Empire', year=1538, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=130, id=130, name='Ancel, Guillaume', place='Holy Roman Empire', year=1590, lat=48.21, long=16.36, lat_long='48.21, 16.36')
Pandas(Index=131, id=131, name='Blatier, Claude', place='Netherlands', year=1583, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=132, id=132, name='Montdoucet, Claude de', place='Netherlands', year=1573, lat=52.37, long=4.89, lat_long='52.37, 4.89')
Pandas(Index=133, id=133, name='Eimars, Antoine Escalin des', place='Ottoman Empire', year=1542, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=134, id=134, name='Grantrie, Guillaume de Grandchamp de', place='Ottoman Empire', year=1567, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=135, id=135, name='Berthier, Sébastien', place='Ottoman Empire', year=1584, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=136, id=136, name='Germigny, Jacques de', place='Ottoman Empire', year=1584, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=137, id=137, name='Lancosme, Jacques Savary de', place='Ottoman Empire', year=1590, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=138, id=138, name='De Brèves, François Savary', place='Ottoman Empire', year=1595, lat=41.01, long=28.96, lat_long='41.01, 28.96')
Pandas(Index=139, id=139, name="Noailles, Gilles de, Abbot of L'Isle", place='Poland', year=1574, lat=52.23, long=21.02, lat_long='52.23, 21.02')
Pandas(Index=140, id=140, name='Carmain, Paul de', place='Rome', year=1583, lat=41.89, long=12.51, lat_long='41.89, 12.51')
Pandas(Index=141, id=141, name='Fourquevaux, Raymond de Beccarie de Pavie, Baron of', place='Spain', year=1567, lat=40.43, long=-3.7, lat_long='40.43, -3.7')
Pandas(Index=142, id=142, name='Daugerant, Louis', place='Swiss Cantons', year=1529, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=143, id=143, name='Marveilleux, Jean', place='Swiss Cantons', year=1544, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=144, id=144, name="L'Aubespine, Sébastien de", place='Swiss Cantons', year=1554, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=145, id=145, name='Bellièvre, Pomponne de', place='Swiss Cantons', year=1571, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=146, id=146, name='Clausse, Henri', place='Swiss Cantons', year=1584, lat=46.94, long=7.45, lat_long='46.94, 7.45')
Pandas(Index=147, id=147, name='De Pins, Jean', place='Venice', year=1519, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=148, id=148, name='De Pins, Jean', place='Venice', year=1520, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=149, id=149, name='Langrac, Jean de', place='Venice', year=1529, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=150, id=150, name='De Baif, Lazare', place='Venice', year=1533, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=151, id=151, name='Passano, Jean-Joachim de', place='Venice', year=1538, lat=45.44, long=12.33, lat_long='45.44, 12.33')
Pandas(Index=152, id=152, name='Hurault, André', place='Venice', year=1588, lat=45.44, long=12.33, lat_long='45.44, 12.33')

In [31]:
for idx, id, n, p, y, lt, lg, _ in df.itertuples():
    print(p)

Denmark
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Portugal
Rome
Portugal
Rome
Rome
Rome
Rome
Savoy
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Venice
Denmark
England
England
England
England
England
England
England
Grisons
England
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
Denmark
Denmark
England
England
Denmark
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Savoy
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Ferrara
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Rome
Rome
Scotland
Scotland
Spain
Venice
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
Ferrara
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Spain
Spain
Scotland
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
Denmark
Denmark
England
England
England
England
England
Grisons
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Denmark
Denmark
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Ferrara
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Portugal
Rome
Rome
Rome
Rome
Rome
Savoy
Saxony
Rome
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Tuscany
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Rome
Rome
Rome
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Scotland
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Tuscany
Venice
Denmark
Denmark
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Holy Roman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Savoy
Scotland
Scotland
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Rome
Denmark
Denmark
Denmark
England
England
England
England
England
England
England
Grisons
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Portugal
Portugal
Portugal
Portugal
Rome
Rome
Rome
Rome
Saxony
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Venice
Venice
Venice
Rome
England
England
England
England
England
Geneva
Grisons
Grisons
Grisons
Grisons
Holy Roman Empire
Holy Roman Empire
Holy Roman Empire
Netherlands
Netherlands
Netherlands
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Ottoman Empire
Poland
Ottoman Empire
Portugal
Rome
Rome
Rome
Rome
Rome
Rome
Rome
Scotland
Scotland
Spain
Spain
Spain
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Swiss Cantons
Venice
Venice
Venice
Venice
Swiss Cantons
Venice
Venice
Holy Roman Empire

In [33]:
# rename Denmark with itertuples:
for item in df.itertuples():
    if item.place == "Denmark":
        df.at[item.Index, "place"] = "Den."
        
df["place"].unique()

<StringArray>
[             'Den.',           'England',            'Geneva',
           'Grisons', 'Holy Roman Empire',       'Netherlands',
    'Ottoman Empire',          'Portugal',              'Rome',
          'Scotland',             'Spain',     'Swiss Cantons',
            'Venice',            'Poland',             'Savoy',
           'Ferrara',            'Saxony',           'Tuscany']
Length: 18, dtype: str

In [34]:
# df.loc[] to rename only one variable name
df.loc[df["place"] == "England", "place"] = "Eng."
df["place"].unique()

<StringArray>
[             'Den.',              'Eng.',            'Geneva',
           'Grisons', 'Holy Roman Empire',       'Netherlands',
    'Ottoman Empire',          'Portugal',              'Rome',
          'Scotland',             'Spain',     'Swiss Cantons',
            'Venice',            'Poland',             'Savoy',
           'Ferrara',            'Saxony',           'Tuscany']
Length: 18, dtype: str

In [ ]:
# how a hashmap works
l1 = ["a", "b", "c", "d"]

h1 = {"a" : "Alpha", "b": "Beta"}

l1 = [h1.get(l, l) for l in l1]
l1

['Alpha', 'Beta', 'c', 'd']

In [39]:
# hash = {
#     "Geneva": "Gen.",
#     "Grisons": "Gri.",
# }

hash = {
    place:f"{place[:3]}." for place in df["place"].unique() 
    }

df['place'] = df["place"].replace(hash)
df["place"].unique()

<StringArray>
['Den.', 'Eng.', 'Gen.', 'Gri.', 'Hol.', 'Net.', 'Ott.', 'Por.', 'Rom.',
 'Sco.', 'Spa.', 'Swi.', 'Ven.', 'Pol.', 'Sav.', 'Fer.', 'Sax.', 'Tus.']
Length: 18, dtype: str

In [40]:
df.head()

   id                name place  year    lat   long      lat_long
0   0  Richer, Christophe  Den.  1543  55.68  12.57  55.68, 12.57
1   1  Richer, Christophe  Den.  1541  55.68  12.57  55.68, 12.57
2   2  Danzay, Charles de  Den.  1561  55.68  12.57  55.68, 12.57
3   3  Danzay, Charles de  Den.  1563  55.68  12.57  55.68, 12.57
4   4  Danzay, Charles de  Den.  1582  55.68  12.57  55.68, 12.57

In [41]:
df.loc[(df["place"] == "Eng.") & (df["year"] >= 1550) & (df["year"] <= 1555)].count()

id          8
name        8
place       8
year        8
lat         8
long        8
lat_long    8
dtype: int64

In [42]:
df.loc[~(df["place"] == "Eng.") & (df["year"] >= 1550) & (df["year"] <= 1555)].count()

id          61
name        61
place       61
year        61
lat         61
long        61
lat_long    61
dtype: int64

In [46]:
imp_emb = ["Ven.", "Eng.", "Ott."]

imp_num = df.loc[(df["place"].isin(imp_emb)) & (df["year"] >= 1550) & (df["year"] <= 1555)].count()
non_imp_num = df.loc[~(df["place"].isin(imp_emb)) & (df["year"] >= 1550) & (df["year"] <= 1555)].count()
all_num = df.loc[(df["year"] >= 1550) & (df["year"] <= 1555)].count()

print(f"all ambs: {all_num}")
print(f"% to imp: {imp_num / all_num}")
print(f"% to non_imp: {non_imp_num / all_num}")

all ambs: id          69
name        69
place       69
year        69
lat         69
long        69
lat_long    69
dtype: int64
% to imp: id          0.376812
name        0.376812
place       0.376812
year        0.376812
lat         0.376812
long        0.376812
lat_long    0.376812
dtype: float64
% to non_imp: id          0.623188
name        0.623188
place       0.623188
year        0.623188
lat         0.623188
long        0.623188
lat_long    0.623188
dtype: float64