In [2]:
import pandas as pd
from scipy import stats
from functions.eda import eda
url = "https://raw.githubusercontent.com/nkmwicz/data-for-students/refs/heads/main/soccer-players.csv"
df = pd.read_csv(url)
cols = eda(df)

cols.loc[["height_in_cm", "date_of_birth"]]

,is_numeric,min,max,range,std,num_na,perc_na,num_unique,unique_vals
height_in_cm,True,17.0,207.0,190.0,6.9712,2344,0.0723,52,NaN
date_of_birth,False,NaN,NaN,NaN,NaN,47,0.0015,9272,NaN

In [3]:
ht = df["height_in_cm"]
sk = stats.skew(ht, nan_policy="omit")
kurt = stats.kurtosis(ht, nan_policy="omit")
print(f"sk = {sk}; kurt = {kurt}")

sk = -1.7750589204621978; kurt = 40.36548066183285

In [4]:
# IQR
q1 = ht.quantile(0.25)
q3 = ht.quantile(0.75)
iqr = q3-q1
iqr

np.float64(9.0)

In [5]:
lower_b = q1 - (1.5 * iqr)
upper_b = q3 + (1.5 * iqr)
outs = ht.loc[(ht<lower_b) | (ht>upper_b)]
outs.to_list()

[201.0,
 164.0,
 205.0,
 159.0,
 164.0,
 164.0,
 161.0,
 201.0,
 201.0,
 203.0,
 160.0,
 164.0,
 207.0,
 201.0,
 163.0,
 162.0,
 164.0,
 163.0,
 203.0,
 162.0,
 164.0,
 201.0,
 204.0,
 201.0,
 201.0,
 164.0,
 202.0,
 201.0,
 202.0,
 163.0,
 163.0,
 201.0,
 162.0,
 163.0,
 201.0,
 164.0,
 164.0,
 164.0,
 163.0,
 164.0,
 164.0,
 164.0,
 202.0,
 164.0,
 164.0,
 163.0,
 201.0,
 201.0,
 203.0,
 164.0,
 163.0,
 164.0,
 163.0,
 202.0,
 163.0,
 203.0,
 204.0,
 203.0,
 201.0,
 201.0,
 203.0,
 159.0,
 163.0,
 202.0,
 201.0,
 203.0,
 160.0,
 164.0,
 201.0,
 201.0,
 202.0,
 162.0,
 163.0,
 161.0,
 203.0,
 163.0,
 201.0,
 202.0,
 164.0,
 202.0,
 202.0,
 203.0,
 202.0,
 201.0,
 204.0,
 202.0,
 162.0,
 206.0,
 201.0,
 203.0,
 205.0,
 204.0,
 163.0,
 163.0,
 164.0,
 201.0,
 162.0,
 201.0,
 202.0,
 164.0,
 19.0,
 164.0,
 163.0,
 163.0,
 201.0,
 164.0,
 18.0,
 202.0,
 160.0,
 164.0,
 206.0,
 202.0,
 164.0,
 18.0,
 164.0,
 205.0,
 204.0,
 204.0,
 163.0,
 164.0,
 163.0,
 164.0,
 164.0,
 163.0,
 206.0,
 164.0,
 162.0,
 205.0,
 202.0,
 163.0,
 17.0,
 161.0,
 202.0,
 164.0,
 204.0,
 206.0,
 160.0,
 204.0,
 164.0,
 164.0]

In [8]:
ht = ht.loc[ht>150]
sk = stats.skew(ht, nan_policy="omit")
kurt = stats.kurtosis(ht, nan_policy="omit")
print(f"sk = {sk:.4f} kurt = {kurt:.4f}")

sk = -0.0469 kurt = -0.3076

In [9]:
dates = df["date_of_birth"]

In [10]:
dates

0        1978-06-09 00:00:00
1        1980-08-06 00:00:00
2        1981-01-30 00:00:00
3        1978-05-08 00:00:00
4        1981-03-18 00:00:00
                ...
32398    2003-02-04 00:00:00
32399    2007-09-06 00:00:00
32400    2005-02-19 00:00:00
32401    2006-01-01 00:00:00
32402    2006-06-05 00:00:00
Name: date_of_birth, Length: 32403, dtype: str

In [11]:
dates = pd.to_datetime(dates)
dates

0       1978-06-09
1       1980-08-06
2       1981-01-30
3       1978-05-08
4       1981-03-18
           ...
32398   2003-02-04
32399   2007-09-06
32400   2005-02-19
32401   2006-01-01
32402   2006-06-05
Name: date_of_birth, Length: 32403, dtype: datetime64[us]

In [12]:
months = dates.dt.month
months

0        6.0
1        8.0
2        1.0
3        5.0
4        3.0
        ...
32398    2.0
32399    9.0
32400    2.0
32401    1.0
32402    6.0
Name: date_of_birth, Length: 32403, dtype: float64

In [18]:
total = months.count()
dist = {m:round(months.loc[months==m].count()/total, 4) for m in months.unique()}
dist

{np.float64(6.0): np.float64(0.0802),
 np.float64(8.0): np.float64(0.0742),
 np.float64(1.0): np.float64(0.1257),
 np.float64(5.0): np.float64(0.0901),
 np.float64(3.0): np.float64(0.1043),
 np.float64(4.0): np.float64(0.0927),
 np.float64(11.0): np.float64(0.061),
 np.float64(10.0): np.float64(0.065),
 np.float64(nan): np.float64(0.0),
 np.float64(2.0): np.float64(0.1006),
 np.float64(7.0): np.float64(0.0783),
 np.float64(9.0): np.float64(0.0709),
 np.float64(12.0): np.float64(0.0569)}

In [13]:
months.kurt()

np.float64(-1.1306066065502849)

In [19]:
sorted(dist.items())

[(np.float64(1.0), np.float64(0.1257)),
 (np.float64(2.0), np.float64(0.1006)),
 (np.float64(3.0), np.float64(0.1043)),
 (np.float64(4.0), np.float64(0.0927)),
 (np.float64(5.0), np.float64(0.0901)),
 (np.float64(6.0), np.float64(0.0802)),
 (np.float64(7.0), np.float64(0.0783)),
 (np.float64(8.0), np.float64(0.0742)),
 (np.float64(9.0), np.float64(0.0709)),
 (np.float64(10.0), np.float64(0.065)),
 (np.float64(11.0), np.float64(0.061)),
 (np.float64(nan), np.float64(0.0)),
 (np.float64(12.0), np.float64(0.0569))]